.cartButtons .textWaitlist{
  position: relative;
  bottom: 192px;
  background-color: #ddd;
  color: black;
  padding: 5px 75px;
}

.cartButtons .textWishlist{
  position: relative;
  bottom: 170px;
  background-color: yellow;
  color: black;
  padding: 5px 75px;
}