img{max-width:100%;}
    *{transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease}
  .my-list {
      width: 100%;
      padding: 10px;
      border: 1px solid #f5efef;
      float: left;
      margin: 15px 0;
      border-radius: 5px;
      box-shadow: 2px 3px 0px #e4d8d8;
      position:relative;
      overflow:hidden;
  }

  .my-list img.heart_white, .my-list img.heart_red {
    width: 30px;
  }
  .my-list h3{
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      margin: 0px;
      padding: 0px;
      border-bottom: 1px solid #ccc4c4;
      margin-bottom: 5px;
      padding-bottom: 5px;
      }
    .my-list span{float:left;font-weight: bold;}
    .my-list span:last-child{float:right;}
    .my-list .offer{
      width: 100%;
      float: left;
      margin: 5px 0;
      border-top: 1px solid #ccc4c4;
      margin-top: 5px;
      padding-top: 5px;
      color: #afadad;
      }
    .detail {
      position: absolute;
      top: -100%;
      left: 0;
      text-align: center;
      background: #fff;height: 100%;width:100%;
    
  }
    
  .my-list:hover .detail{top:0;}
  .display_none{
    display: none;
  }
  .my-list .link{
    color: blue;
  }
  .my-list .red{
    color: red;
  }
  .my-list .green{
    color: green;
  }
  .my-list .black{
    color: black;
  }
  div.show-image {
    position: relative;
  }
  div.show-image:hover img{
      opacity:0.5;
  }
  div.show-image:hover span img.heart_white {
      display: block;
  }
  div.show-image span.heart-image img{
      position:absolute;
      display:none;
  }
  div.show-image img.heart_white {
      top:10px;
      left:10px;
  }
 .my-list .out-of-stock{
    position: relative;
    top: 100px;
    left: 58px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1px 4px;
    font-size: 13px;
 }
