/* TODO need to remove !important*/
.search-row {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #f5efef !important;
    box-shadow: 2px 3px 0px #e4d8d8;
    font-size: 15px !important;
  } 
  .search-row .search-btn{
    font-size: 15px !important;
  }
  .float-right{
    float: right !important;
  }
  .float-left{
    float: left !important;
  }
  .float-clear{
    clear: both;
  }
  #app .container .search-row #categoryDiv, #app .container .search-row  #priceDiv{
    text-align:left !important;
  }

 .pagination .page-details{
   padding: 10px;
 }

 .search-row #priceDiv{
   padding-left: 10px;
 }